/*Twitter Social*/
.tweet-profile-image {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
  max-width: 468px;
  padding: 0 0px 0px 6px;
}
.tweet-profile-image img {
  border-radius: 10%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.tweet-profile-image img:hover {
  margin: 0px;
  box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

.tweet-text {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

.tweet-text p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tweet-text a {
  color: #2b7bb9 !important;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

.tweet-text a:hover{
  text-decoration: underline;
}
/*Twitter Social*/
